#contactos{
    
    width:fit-content;
    padding: 1em 1em 2em 1em; 
    border-radius: 10%;
    transition: 1s;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

.logo{
    width: 300px;
    height: 300px;
}

.contactos-logos{

    width: auto;
    flex-direction: column;
}
