.contactos-logos{
    width: 2em;
    padding: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}




#contactos{
    border: 2px solid black;
    display: flex;
    flex-direction: inherit;
    width: 300px;
}